@page
@model PrivacyModel
@{
    ViewData["Title"] = "Log in";
}
<h1>@ViewData["Title"]</h1>
<h4>
    Log in to view your account information or start a request
</h4>
<body>
    <form>
    <label for="userName">Username:</label><br>
    <input type="text" id="userName" name="userName"><br>
    <label for="lname">Password:</label><br>
    <input type="text" id="lastName" name="lastName">
</form>
    <button>Log in</button>
    <h4>or</h4>
    <button>Create an Account</button>
</body>
