@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
            <h3>Welcome!</h3>
            <p class = "card-text">
                Student Outreach Services, or SOS, is a unique and progressive program designed to support students as they transition from high school and home life to college and future life through a structured, collaborative, and confidential process. This is done via a holistic and total wellness conversation between the SOS representative and a student prior to the student being connected with needed programs, services, and individuals. 
            </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <h3>SOS Mission</h3>
                <p class="card-text">
                    The mission of Student Outreach Services (SOS) is to engage all segments of the Hendrix College student population by connecting with mentors, services, resources, programs, networks, interventions, and/or preventions to increase successful holistic and positive student experiences throughout their time in the Hendrix community.
                </p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4" >
            <div class="col p-4 d-flex flex-column">
                <h3>Asking for Help</h3>
                <p class = "card-text">
                    Sometimes questions arise for which there are no quick or obvious answers. Maybe a student has a unique, or special need to address, or fears about revealing a social or personal concern. Or maybe a student might need to self-solve a problem by just having someone listen as things are talked out.
                </p><p class = "card-text">
                    Student Outreach Services is a safe, supportive office that works in a large network to find the help needed. The SOS staff will guide students to resources that overcome obstacles and get the most from the Hendrix Experience.
                </p><p class = "card-text">
                    In the Division of Student Affairs, SOS works with all offices and departments on campus as well as refers to resources off-campus. Using the concept of self-contracting, students learn through action to become more engaged and responsible adults in ways not related to the actual academic outcome (but could affect that outcome), but in ways that promote personal growth, knowledge, and understanding. 
                </p>
            </div>
        </div>
    </div>
</div>