@page
@model RequestModel
@{
    ViewData["Title"] = "Miscellaneous Request Form";
}
<h1>@ViewData["Title"]</h1>

<p>Use the below fields to submit a request for a resource not listed on
    the other pages.
</p>

<style>
    .submit-button {
            background-color: #e96b10;
            color: white;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-top: 10px;
            cursor: pointer;
            }
</style>

<body>
    <form>
        <label for="requestInput">What would you like to request?</label>
        <input style="margin: 10px" type="text" id="requestInput" name="requestInput" size="48">
    </form>
    <p>For what reason do you need this resource?
            Be as specific as you are able.</p>
    <form>
        <textarea id="reasonInput" name="reasonInput" rows="10" cols="72"></textarea><br>
        <input type="submit" value="Submit" class="submit-button">
    </form>
</body>
