@page
@model RequestModel
@{
    ViewData["Title"] = "Miscellaneous Request Form";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>

<body style="text-align: center;">

    <h1 class="fade-in" style="text-align: center; color: #e96b10;">@ViewData["Title"]</h1>

    <p class="fade-in" style="text-align: center;">Use the below fields to submit a request for a resource not listed on
        the other pages.
    </p>

    <p class="fade-in">Please enter your requested resource below:</p>
    <form>
        <textarea class="fade-in" style="margin-bottom: 10px;" id="requestInput" name="requestInput" rows="1" cols="36"></textarea>
    </form>

    <p class="fade-in" style="margin-top: 10px">For what reason do you need this resource?
            Be as specific as you are able:</p>
    <form>
        <textarea class="fade-in" style="margin-bottom: 10px;" id="reasonInput" name="reasonInput" rows="10" cols="72"></textarea><br>
        <input type="submit" value="Submit" class="submit-button fade-in">
    </form>
 </body>
