@page
@model RequestModel
@{
    ViewData["Title"] = "SOS Request Form";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>

<body style="text-align: center;">

    <h1 class="fade-in" style="text-align: center; color: #e96b10;">@ViewData["Title"]</h1>

    <p class="fade-in" style="text-align: center;">Use the below fields to submit a request for a resource not listed on
        the other pages.
    </p>

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form style="display: flex; align-items: center; margin-bottom: 10px;">
                <p class="fade-in" style="margin-right: 10px; white-space: nowrap; padding-top: 15px;">Full Name:</p>
                <input class="fade-in" id="firstName" name="firstName" style="margin-right: 10px; border: 1px solid black; width: 75%;">
                <input class="fade-in" id="lastName" name="lastName" style="border: 1px solid black; width: 75%;">
            </form>
        </div>
        <div class="col"></div>
    </div>

    <div class="row" style="display: flex; align-items; center;">
        <div class="col"></div>
        <div class="col" style="display: flex;">
            <p class="fade-in" style="white-space: nowrap; margin-right: 10px; padding-top: 2px;">Please enter your requested resource:</p>
            <form id="requestForm">
                <input class="fade-in" style="margin-bottom: 10px; border: 1px solid black;" id="requestInput" name="requestInput">
            </form>
        </div>
        <div class="col"></div>
    </div>


    <p class="fade-in" style="margin-top: 10px">For what reason do you need this resource?
            Be as specific as you are able:</p>
    <form id="reasonForm">
        <textarea class="fade-in" style="margin-bottom: 10px;" id="reasonInput" name="reasonInput" rows="10" cols="72"></textarea><br>
        <input type="submit" value="Submit" class="submit-button fade-in">
    </form>

    <p id="successMessage">Thank you for sending your request! We will get back to you as soon as
        we possibly can.
    </p>

    <script>
        document.getElementById('reasonForm').addEventListener('submit', function(event) {
            event.preventDefault();

            var requestInput = document.getElementById('requestInput').value;
            var reasonInput = document.getElementById('reasonInput').value;
            var successMessage = document.getElementById('successMessage');
            successMessage.style.opacity = 1;

            var emailBody = "Student's request: " + requestInput + '%0D%0A' + "\nStudent's reason: " + reasonInput;

            // Create a mailto link and simulate a click
            window.location.href = 'mailto:ryfuller03@gmail.com?subject=Request for Resource&body=' + emailBody;
        });
    </script>
 </body>
