html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.background {
  background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('../../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.antiquewhite {
  color: antiquewhite;
}

.orangeheader {
  color: #e96b10;
}

a:hover {
  color:#e96b10;
}

.indeximagebutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color:antiquewhite;
  background-color:#e96b10;
  border: none;
  z-index: 100;
}

@keyframes fadeIn {
from {
      transform: translateY(10px); 
    }
to { 
      opacity: 1;
      transform: translateY(0px); 
    }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.85s forwards;
}

.submit-button {
  background-color: #e96b10;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  }

#successMessage {
  opacity: 0;
  margin-top: 10px;
  transition: opacity 0.5s;
}