@page
@using SOSResources.Models
@model HendrixSOSResources.Pages.Profiles.EditModel

@{
    ViewData["Title"] = "Edit Profile";
}

<h4>Profile</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Profile.CampusEmail" />
            <div class="form-group">

                <label asp-for="Profile.HendrixID" class="control-label"></label>
                <input asp-for="Profile.HendrixID" class="form-control" />
                <span asp-validation-for="Profile.HendrixID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.FirstName" class="control-label"></label>
                <input asp-for="Profile.FirstName" class="form-control" />
                <span asp-validation-for="Profile.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.LastName" class="control-label"></label>
                <input asp-for="Profile.LastName" class="form-control" />
                <span asp-validation-for="Profile.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.Email" class="control-label"></label>
                <input asp-for="Profile.Email" class="form-control" />
                <span asp-validation-for="Profile.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.Classification" class="control-label"></label>
                <select asp-for="Profile.Classification" class="form-control"
                        asp-items="Html.GetEnumSelectList<Class>()">
                </select>
                <span asp-validation-for="Profile.Classification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.CampusAddress" class="control-label"></label>
                <input asp-for="Profile.CampusAddress" class="form-control" />
                <span asp-validation-for="Profile.CampusAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.CampusEmail" class="control-label"></label>
                <input asp-for="Profile.CampusEmail" class="form-control" />
                <span asp-validation-for="Profile.CampusEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.PhoneNumber" class="control-label"></label>
                <input asp-for="Profile.PhoneNumber" class="form-control" />
                <span asp-validation-for="Profile.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Profile.EmFirstName" class="control-label"></label>
                <input asp-for="Profile.EmFirstName" class="form-control" />
                <span asp-validation-for="Profile.EmFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.EmLastName" class="control-label"></label>
                <input asp-for="Profile.EmLastName" class="form-control" />
                <span asp-validation-for="Profile.EmLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.EmEmail" class="control-label"></label>
                <input asp-for="Profile.EmEmail" class="form-control" />
                <span asp-validation-for="Profile.EmEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.EmPhoneNumber" class="control-label"></label>
                <input asp-for="Profile.EmPhoneNumber" class="form-control" />
                <span asp-validation-for="Profile.EmPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Profile.EmRelationship" class="control-label"></label>
                <input asp-for="Profile.EmRelationship" class="form-control" />
                <span asp-validation-for="Profile.EmRelationship" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Profile.CurrentEmployer" class="control-label"></label>
                <input asp-for="Profile.CurrentEmployer" class="form-control" />
                <span asp-validation-for="Profile.CurrentEmployer" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Profile.CurrentEmployerPhoneNumber" class="control-label"></label>
                <input asp-for="Profile.CurrentEmployerPhoneNumber" class="form-control" />
                <span asp-validation-for="Profile.CurrentEmployerPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Profile.JobPosition" class="control-label"></label>
                <input asp-for="Profile.JobPosition" class="form-control" />
                <span asp-validation-for="Profile.JobPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.Pay" class="control-label"></label>
                <select asp-for="Profile.Pay" class="form-control"
                        asp-items="Html.GetEnumSelectList<PayType>()">
                </select>
                <span asp-validation-for="Profile.Pay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.PayPeriod" class="control-label"></label>
                <select asp-for="Profile.PayPeriod" class="form-control"
                        asp-items="Html.GetEnumSelectList<Period>()">
                </select>
                <span asp-validation-for="Profile.PayPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Profile.MonthlyWages" class="control-label"></label>
                <input asp-for="Profile.MonthlyWages" class="form-control" />
                <span asp-validation-for="Profile.MonthlyWages" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Profile.FinAidStatement" class="control-label"></label>
                <input asp-for="Profile.FinAidStatement" class="form-control" />
                <span asp-validation-for="Profile.FinAidStatement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Profile.ReferredBy" class="control-label"></label>
                <input asp-for="Profile.ReferredBy" class="form-control" />
                <span asp-validation-for="Profile.ReferredBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>