@page
@model SOSResources.Pages.Departments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Textbook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Department.Title" class="control-label"></label>
                <input asp-for="Department.Title" class="form-control" />
                <span asp-validation-for="Department.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.Author" class="control-label"></label>
                <input asp-for="Department.Author" class="form-control" />
                <span asp-validation-for="Department.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.Edition" class="control-label"></label>
                <input asp-for="Department.Edition" class="form-control" />
                <span asp-validation-for="Department.Edition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.Quantity" class="control-label"></label>
                <input asp-for="Department.Quantity" class="form-control" />
                <span asp-validation-for="Department.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
