@page
@model HendrixSOSResources.Pages.Resources.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="color: #e96b10">Create</h1>

<h4>Resource</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Resource.Name" class="control-label"></label>
                <input asp-for="Resource.Name" class="form-control" />
                <span asp-validation-for="Resource.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resource.Type" class="control-label"></label>
                <select asp-for="Resource.Type" class="form-control" asp-items="Model.ResourceTypeList">
                    <option value="">Select Resource Type</option>
                </select>
                <span asp-validation-for="Resource.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resource.Description" class="control-label"></label>
                <input asp-for="Resource.Description" class="form-control" />
                <span asp-validation-for="Resource.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resource.Quantity" class="control-label"></label>
                <input asp-for="Resource.Quantity" class="form-control" />
                <span asp-validation-for="Resource.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
